:root{
	--color-text: any;
	--color-bg:  rgba(255, 239, 213, 0);
	--color-bg-accent: #ecdcc000;
	--size: clamp(5rem, 1rem + 20vmin, 15rem);
	--gap:  calc(var(--size) / 14);
	--duration: 60s;
	--scroll-start: 0;
	--scroll-end: calc(-100% - var(--gap));
}

.marquee{
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);
}

.marquee__group{
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: var(--gap);
	min-width: 100%;
	animation: scroll-x var(--duration) linear infinite;
}

@media(prefers-reduced-motion: reduce){
	.marquee__group{
		animation-play-state: paused;
	}
}

.marquee--vertical{
	--mask-direction: to bottom;
}

.marquee--verical,
.marquee--vertical .marquee__group{
	flex-direction: column;
}

.marquee--vertical .marquee__group{
	animation-name: scroll-y;
}

.marquee--reverse .marquee__group{
	animation-direction: reverse;
	animation-delay: -3s;
}

@keyframes scroll-x{
	from{
		transform: translateX(var(--scroll-start));
	}
	to{
		transform: translateX(var(--scroll-end));
	}
}

@keyframes scroll-y{
	from{
		transform: translateY(var(--scroll-start));
	}
	to{
		transform: translateY(var(--scroll-end));
	}
}

/*ELMENT STYLES*/
.marquee img{
	display: grid;
	place-items: center;
	fill: var(--color-text);
	background: var(--color-bg-accent);
	aspect-ratio: 4/3;
	padding: calc(var(--size) / 10);
	border-radius: 0.5rem;
}

.marquee--vertical img{
	aspect-ratio: 1;
	width: calc(var(--size) / 1.5);
	padding: calc(var(--size) / 6);
}